@{
    ViewBag.Title = "Home Page";
}

@*The first location is the x, and second is the y*@

<div class="gameboard clearfix">
    <div class="gameboard__quad -left-upper">

    </div>
    <div class="gameboard__quad -center-upper">

    </div>
    <div class="gameboard__quad -right-upper">

    </div>
    <div class="gameboard__quad -left-center">

    </div>
    <div class="gameboard__quad -center-center">

    </div>
    <div class="gameboard__quad -right-center">

    </div>
    <div class="gameboard__quad -left-lower">

    </div>
    <div class="gameboard__quad -center-lower">

    </div>
    <div class="gameboard__quad -right-lower">

    </div>
</div>